#imdb-view-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

app-search-bar {
  flex: 0 0 auto;
}

.movie-grid {
    --auto-grid-min-size: 16rem;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    position: relative;/* need this to position inner content */
    overflow-y: auto;
}

.no-data-message {
  width: 100%;
  height: 100%;
  color: #444;
  text-align: center;
}
