<mat-card>
  <mat-card-header>
    <h4>
      {{ data.Title }}
    </h4>
    <span> [{{ data.Year }}] </span>
  </mat-card-header>
  <mat-card-content>
    <div class="content-left">
      <img id="poster" src="{{ data.Poster }}" loading="lazy" />
    </div>
    <div class="content-right">
      <a class="movie-link" (click)="goToLink()">
        <img id="imdb-logo" src="assets/imdb.png" loading="lazy" />
        <p>
          {{ data.Type }}
        </p>
      </a>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button id="footer-btn" mat-flat-button>
      <mat-icon>
        event_available
      </mat-icon>
    </button>
  </mat-card-footer>
</mat-card>
