<mat-card>
  <mat-card-header>
    <h4>
      {{ data.title }}
    </h4>
    <span> [{{ data.year }}] </span>
  </mat-card-header>
  <mat-card-content>
    <div class="content-left">
      <img id="poster" alt="Picture not available" src="{{ data.posterURL }}" loading="lazy" />
    </div>
    <div class="content-right">
      <a class="movie-link" (click)="goToLink()">
        <img id="imdb-logo" src="assets/imdb.png" loading="lazy" />
        <p>
          {{ data.type }}
        </p>
      </a>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <button (click)="onButtonClick()" type="button" id="footer-btn">
      <mat-icon *ngIf="!isSaved; else deleteIcon">
        event_available
      </mat-icon>
      <ng-template #deleteIcon>
        <mat-icon color="warn">
          delete_forever
        </mat-icon>
      </ng-template>
    </button>
  </mat-card-footer>
</mat-card>
