input {
  width: 100%;
}

#search-btn {
  margin-right: 25px;
}

mat-toolbar {
  border-bottom: 1px solid #444;
}

mat-form-field {
  width: 100%;
}

.input-field {
  display: flex;
  flex-direction: row;
}
