.sidenav-container {
    height: 100%;
    border-right: 1px #888 solid;
    width: 120px;
    display: flex;
    flex-direction: column;
}

.button-container {
    width: 100%;
    border-bottom: 1px #888 solid;
}

.button {
    width: 100%;
}