.sidenav-container {
    height: 100%;
    border-right: 1px #888 solid;
    width: 150px;
    display: flex;
    flex-direction: column;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    border-bottom: 1px #888 solid;
}

.button button {
    width: 100%;
}